.code-container {
  width: 95%;
  margin: 0;
  border-radius: 6px;
  border: 2px solid var(--border3);
  transition: width var(--transition);
  background-color: var(--surface2);
  position: relative;
  margin-left: 20px;
}

.code-title {
  background-color: var(--surface5);
  color: var(--letters3);
  padding: 2px 2px 2px 2px;
  border-radius: 5px 5px 0px 0px;
  font-family: var(--font);
  font-size: var(--charsize6);
  overflow-x: auto;
}

.code-title button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: var(--surface1);
  color: var(--letters2);
  line-height: 14px;
  font-weight: 600;
  text-align: center;
}

.code-icon {
  float: left;
  width: 1em;
  height: 1.2em;
}

.code-title-text {
  float: left;
  padding-left: 5px;
  font-size: var(--charsize6);
  font-family: var(--cli-font);
  font-weight: 600;
  width: 1em;
  height: 1.2em;
}

.code-copy {
  float: right;
  width: 6%;
  font-family: var(--font);
  height: auto;
  border-radius: 5px;
}

.code-snippet {
  transition: width var(--transition);
  background-color: var(--surface4);
  color: var(--letters1);
  padding: 15px 10px 15px 10px;
  border-radius: 0px 0px 5px 5px;
  font-family: var(--cli-font);
  font-size: var(--charsize5);
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .code-container {
    width: 100%;
    margin-left: 2px;
    font-size: var(--charsize5);
  }

  .code-copy {
    float: right;
    width: 12%;
    font-family: var(--font);
    font-size: var(--charsize6);
    height: auto;
    border-radius: 5px;
  }
}
