.code-container {
  width: 90%;
  margin: 0;
  border-radius: 8px;
  border: 1px solid var(--border);
  transition: width var(--transition);
  background-color: var(--surface3);
  position: relative;
  margin-left: 20px;
}

.code-title {
  background-color: var(--surface5);
  color: var(--letters3);
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  font-family: var(--font);
  font-size: var(--charsize6);
  overflow-x: auto;
  border-radius: 0%;
}

.code-title button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: var(--surface1);
  border-radius: 0.5rem;
  border: 2px solid var(--border5);
  color: var(--letters2);
  line-height: 14px;
  font-weight: 600;
  text-align: center;
}

.code-icon {
  float: left;
  width: 1em;
  height: 1.2em;
}

.code-title-text {
  float: left;
  padding-left: 5px;
  font-size: var(--charsize6);
  font-family: var(--cli-font);
  font-weight: 600;
  width: 1em;
  height: 1.2em;
}

.code-copy {
  float: right;
  width: 6%;
  font-family: var(--font);
  height: auto;
}

.code-snippet {
  transition: width var(--transition);
  background-color: var(--surface4);
  color: var(--letters3);
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  border: var(--border5);
  font-family: var(--cli-font);
  font-size: var(--charsize5);
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
