.docs {
  padding: 80px 20px 0px 10px;
  position: sticky;
  width: 100%;
  display: inline;
  font-family: var(--font);
  font-size: 20px;
}

.docs h1 {
  padding: 30px 40px 10px 20px;
}

.docs h2 {
  padding: 40px 30px 10px 20px;
}

.docs h3 {
  padding: 20px 5px 5px 20px;
}

.docs h4 {
  padding: 20px 5px 5px 20px;
}

.docs p {
  padding: 20px 20px 20px 20px;
}

.docs ul {
  position: relative;
  margin: 0;
  padding-left: 40px;
}

.docs li {
  padding-top: 10px;
}

.docs-link {
  padding-top: 10px;
  text-decoration: none;
}

.guide {
  padding: 20px 20px 20px 20px;
}

.license-link {
  border: none;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  font-size: var(--charsize4);
  background-color: var(--surface2);
  color: var(--surface2);
  border: 2px solid var(--border2);
  cursor: pointer;
  border-radius: 5px;
}

.license-window {
  border: 3px solid var(--border2);
  transition: width var(--transition);
  background-color: var(--surface5);
  font-size: var(--charsize4);
  background-color: var(--surface3);
  white-space: pre-wrap;
  overflow-y: auto;
  min-height: 100dvh;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 768px) {
  .docs {
    padding: 60px 0px 0px 0px;
    margin: -10px -10px -10px -10px;
  }
  .docs h1 {
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize1);
  }
  .docs h2 {
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize2);
  }
  .docs h3 {
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize3);
  }
  .docs h4 {
    padding: 2px 0px 2px 0px;
  }
  .docs p {
    width: 100%;
    padding: 2px 0px 2px 0px;
    font-size: var(--charsize4);
  }
  .docs li {
    padding-top: 2px;
    font-size: var(--charsize5);
  }
  .docs-link {
    padding-top: 2px;
    font-size: var(--charsize5);
  }
  .guide {
    font-size: var(--charsize6);
    padding: 10px 0px 10px 0px;
  }
}
