.docs {
  padding: 80px 20px 0px 10px;
  position: sticky;
  width: 100%;
  display: inline;
  font-family: var(--font);
  font-size: 20px;
}

.docs h1 {
  padding: 30px 40px 10px 20px;
}

.docs h2 {
  padding: 40px 30px 10px 20px;
}

.docs h3 {
  padding: 20px 5px 5px 20px;
}

.docs h4 {
  padding: 20px 5px 5px 20px;
}

.docs p {
  width: 90%;
  padding: 20px 20px 20px 20px;
}

.docs ul {
  position: relative;
  margin: 0;
  padding-left: 40px;
}

.docs li {
  padding-top: 10px;
}

.docs-link {
  padding-top: 10px;
  text-decoration: none;
}

.guide {
  padding: 20px 20px 20px 20px;
}

.cmd-table {
  width: 90%;
  margin-left: 20px;
  border: 2px solid var(--border2);
}

.tr-cmd {
  margin: auto;
  padding: 3px 10px 3px 0px;
  font-size: var(--charsize5);
}

.td-cmd {
  width: 25%;
  border: 3px solid var(--border2);
}

.td-description {
  width: 75%;
  border: 3px solid var(--border2);
}


@media (max-width: 768px) {
  .docs h1 {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize1);
  }

  .docs h2 {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize2);
  }

  .docs h3 {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize3);
  }

  .docs p {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize4);
  }

  .docs li {
    padding-top: 2px;
    font-size: var(--charsize5);
  }
  .docs-link {
    padding-top: 2px;
    font-size: var(--charsize5);
  }
  .guide {
    font-size: var(--charsize6);
    padding: 10px 0px 10px 0px;
  }
}
