.footer {
  border-top: 3px solid #aeaed080;
  width: 100%;
  position: sticky;
  z-index: 1;
  bottom: 0px;
  display: grid;
  background-color: #92929880;
  text-align: center;
  white-space: pre;
  font-family:
    Optimistic Display,
    -apple-system,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.footer a {
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}
