*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border: #afb1b9;
  --radius: 10px;
  --font: 'Optimistic Display - 700';
  --transition: 240ms cubic-bezier(.4, 0, .2, 1);
}

.footer {
  width: 100%;
  height: 35px;
  padding-top: 10px;
  display: grid; 
  background-color: #c6c5d380;
  text-align: center;
}