.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #303030;
  gap: 10px;
  display: flex;
  background: linear-gradient(to bottom, #0b0b2b, #1b2735 70%, #090a0f);
  background-size: 80px 140px;
  background-position:
    0 0,
    0 0,
    40px 70px,
    40px 70px,
    0 0,
    40px 70px;
}

.header ul {
  justify-content: center;
  width:80%;
  display: flex;
  padding-top: 24px;
}

.header li {
  display: inline-block;
  margin: 0 12px;
  padding-bottom: 12px;
}

.header-link {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 8px 10px 8px 10px;
  border: none;
  font-size: 1.2rem;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  color: white;
}

.logo {
  align-items: center;
  padding-left: 60px;
  align-items: center;
  width: 12%;
}
