.header {
  background-color: #303030;
  padding: 10px;
  display: flex;
}

.header h1 {
  color: white;
}

.logo {
  padding-left: 30px;
  align-items: left;
  width: 100px;
}

.title {
  text-align: center;
  padding: 10px;
  width: 1000px;
}