*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border: #cdced3;
  --font: "Optimistic Display - 700";
  --transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  background-color: #ced2d4;
  padding: 0px 8px 0px 5px;
  margin-left: 30px;
  position: sticky;
  width: 85%;
  text-align: left;
  font-size: 18px;
  border: 2px solid var(--border);
  border-left: 3px solid #031256;
  transition: width var(--transition);
}

.info ul {
  position: relative;
  margin: 0;
  padding: 10px 10px 20px 40px;
}

.info li {
  padding-top: 10px;
}
