.page {
  padding: 80px 20px 0px 10px;
  position: sticky;
  width: 100%;
  display: inline;
  font-family: var(--font);
  font-size: 20px;
}

.page h1 {
  padding: 30px 40px 10px 20px;
}

.page h2 {
  padding: 40px 30px 10px 20px;
}

.page h3 {
  padding: 20px 5px 5px 20px;
}

.page h4 {
  padding: 20px 5px 5px 20px;
}

.page p {
  width: 90%;
  padding: 20px 20px 20px 20px;
}

.page ul {
  position: relative;
  margin: 0;
  padding-left: 40px;
}

.page li {
  padding-top: 10px;
}

.page-link {
  padding-top: 10px;
  text-decoration: none;
}

.guide {
  padding: 20px 20px 20px 20px;
}

.cmd-table {
  width: 90%;
  margin-left: 20px;
  border: 2px solid var(--border2);
}

.tr-cmd {
  margin: auto;
  padding: 3px 10px 3px 0px;
  font-size: var(--charsize5);
}

.td-cmd {
  width: 25%;
  border: 3px solid var(--border2);
}

.td-description {
  width: 75%;
  border: 3px solid var(--border2);
}


@media (max-width: 768px) {
  .page h1 {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize1);
  }

  .page h2 {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize2);
  }

  .page h3 {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize3);
  }

  .page p {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-size: var(--charsize4);
  }

  .page li {
    padding-top: 2px;
    font-size: var(--charsize5);
  }
  .page-link {
    padding-top: 2px;
    font-size: var(--charsize5);
  }
  .guide {
    font-size: var(--charsize6);
    padding: 10px 0px 10px 0px;
  }
}
