table {
  width: 30%;
  text-decoration: none;
  margin: -20px 20px 30px 2px;
}

.column {
  width: 75%;
  color: gray;
  margin: 25px 5px;
  display: inline-block;
  border-bottom: 2px solid var(--border);
}

.td-link {
  padding: 10px 60px 10px 60px;
  text-decoration: none;
  border-radius: 8px;
  border: 3px solid rgb(72, 87, 216);;
  transition: width var(--transition);
  background-color: rgb(7, 10, 36);
  color: aliceblue;
  border-radius: 3px;
  margin: 40px 40px;
}
