.download table {
  width: 90%;
  text-decoration: none;
  padding-bottom: 20px;
}

.download-head {
  width: 90%;
  color: gray;
  display: inline-block;
  border-bottom: 1px solid var(--border2);
  font-size: var(--charsize6);
  margin-bottom: 30px;
}

.download-link {
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  border: 3px solid var(--border4);
  transition: width var(--transition);
  background-color: var(--surface5);
  color: aliceblue;
  margin: 10px 10px 10px 60px;
  font-size: var(--charsize5);
}

.options table {
  width: 90%;
  text-decoration: none;
  margin: -20px 20px 30px 20px;
  border-collapse: collapse;
  font-size: var(--charsize5);
}

.options td {
  border: 3px solid var(--border2);
  padding: 5px 5px 5px 5px;
}

.options-head {
  background-color: rgb(234, 199, 148);
}

.options-name {
  width: 25%;
  padding: 5px 5px 5px 5px;
}

.options-description {
  width: 70%;
  padding: 5px 5px 5px 5px;
}

.options-col-xs {
  width: 4%;
  padding: 5px 5px 5px 5px;
}

.options-col-syntax {
  width: 30%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 5px 5px 5px 5px;
}

@media (max-width: 768px) {
  .column {
    font-size: x-small;
    margin: 10px 0px;
  }

  .td-link {
    font-size: x-small;
    padding: 2px 10px 2px 10px;
  }

  .download table {
    width: 20%;
    padding-bottom: 20px;
  }

  .download-head {
    width: 20%;
    margin: -1px 15px 10px 1px;
  }

  .download table p {
    font-size: var(--charsize6);
  }

  .download-link {
    padding: 1px 5px 1px 5px;
    text-decoration: none;
    margin: 2px 1px 1px 1px;
    font-size: var(--charsize6);
  }

  .options table {
    width: 100%;
    margin: -20px 20px 30px 2px;
    font-size: var(--charsize6);
  }

  .options-head {
    font-size: var(--charsize6);
  }

  .options-name {
    width: 20%;
    padding: 2px 2px 2px 2px;
  }

  .options-description {
    width: 65%;
    padding: 2px 2px 2px 2px;
  }

  .options-col-xs {
    width: 4%;
    font-size: var(--charsize6);
    padding: 2px 2px 2px 2px;
  }
}
