.tools {
  padding: 80px 20px 0px 10px;
  position: sticky;
  width: 100%;
  display: inline;
  font-family: var(--font);
  font-size: 20px;
}

.thero {
  padding: 30px 10px 10px 10px;
  height: 450px;
}

.thero h1 {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(4rem, 8vw, 6rem);
}

.thero p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--surface5);
  font-size: var(--charsize1);
}

.thero-button {
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 25px 10px 25px;
  padding: 50px 50px;
}

.small-box-link {
  font-size: var(--charsize5);
}

.tslide {
  padding: 80px 10px 10px 10px;
  height: 450px;
  background-color: #dedee780;
}

.tslide h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(4rem, 8vw, 6rem);
}

.tslide p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--letters4);
  font-size: var(--charsize1);
  text-align: center;
}

@media (max-width: 768px) {
  .thero {
    width: 100%;
    height: 300px;
    padding: 10px 10px 10px 10px;
  }

  .thero h1 {
    padding: 0px;
  }

  .thero p {
    padding: 0px;
    font-size: var(--charsize3);
  }

  .thero-button {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
  }

  .thero-button {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
  }

  .small-box-link {
    font-size: var(--charsize7);
  }
  .tslide {
    width: 100%;
    height: 300px;
    padding: 10px 10px 10px 10px;
  }

  .tslide h1 {
    padding: 0px;
  }

  .tslide p {
    padding: 0px;
    font-size: var(--charsize3);
  }
}
